.glass {
    padding: 0.5rem 1.5rem;
    max-width: 45ch;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
    backdrop-filter: saturate(100%) blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
}

@supports not (backdrop-filter: blur()) {
    .glass {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

body {
    font-family: sans-serif;
    font-size: 100%;
    background: #ffffff url("https://cdn.twonoblestudio.com/images/css-frosted-glass-effect-background.jpg") center center no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 100vh;
}